.container_channels {
  width: 80vw;
  min-height: 100vh;
  background-color: #491111;
  margin-left: 20vw;
  padding: 40px;
}

.container_channels h1 {
  font-family: "Gill Sans", sans-serif;
  font-size: 4em;
  color: aliceblue;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
}

.container_list_channels {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.container_list_channels a {
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .container_channels {
    width: 95%;
    padding: 0;
    margin: 0;
    margin-top: 15vh;
  }

  .container_list_channels {
    gap: 30px;
    justify-content: center;
  }
}
