.container_movies {
  width: 80vw;
  height: 100vh;
  background-color: #491111;
  margin-left: 20vw;
  padding: 40px;
}

.container_movies h1 {
  font-family: "Gill Sans", sans-serif;
  font-size: 4em;
  color: aliceblue;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
}

.container_list_movies {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}
