.row_Link {
  display: flex;
  align-items: center;
  gap: 20px;
}

.row_Link span {
  font-family: "Gill Sans", sans-serif;
  color: #ffffffbe;
}

.row_Link span:hover {
  color: #ff4d40;
}

@media screen and (max-width: 600px) {
  .row_Link .icon {
    display: none;
  }
}
